
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;



    .container {
        @apply rounded-lg;
        box-shadow: 13px 13px 20px #D8B4FE;
        /* box-shadow: 13px 13px 20px #D8B4FE, -13px -13px 20px #D8B4FE; */
        /* box-shadow: 13px 13px 20px #e8afcc, -13px -13px 20px #e8afcc; */

    }

/* .space {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  animation: twinkle infinite;
  animation-timing-function: ease-in-out;
}

@keyframes twinkle {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
} */
